<style>
a:link {color:rgb(0,0,50); background-color:transparent; text-decoration: none;}
a:visited {color:blue; background-color:transparent; text-decoration: none;}
a:hover {color:rgb(0,50,0); background-color:transparent; text-decoration: none;}
a:active {color:rgb(50,0,0); background-color:transparent; text-decoration: none;}

@font-face{
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf');
}

@font-face{
	font-family: 'Raleway_Light';
	src: url('Raleway-Light.ttf');
}

@font-face{
	font-family: 'Raleway_Thin';
	src: url('Raleway-Thin.ttf');
}

.main_tabs{
	width:100%;
	list-style:none;
	display:inline-block;
	background-color:#FFDEFD;
}
.tabs li{
	margin:0px 5px;
	float:right;
	list-style:none;
}
.tabs a{
	padding:9px 15px;
	display:inline-block; /*replace with positionn:relative soon for resizable*/;
	border-radius:3px 3px 0px 0px;
	background:#779EE6;
	background-size:100% 90%;
	font-size:16px;
	font-family:Raleway, sans-serif; /*most people dont have raleway, add to font family or use those "font class" things?*/
	font-weight:600;
	color:#fff;
	margin-bottom: -3px;
	text-decoration:none;
	border-bottom: 3px solid #fff;
	transition:all linear 0.4s; /* add more animations? */
}

li.active a, li.active{ 
	background:#fff;
	color:#4c4c4c;
	border-radius: 3px 3px 0px 0px;
	border-bottom-color:black; 
	transition:all linear 0.7s;
}

.tabs a:hover{
	background:#586EFC;
}

#head_name{
	font-family:Raleway_Light, sans-serif;
	position:absolute; top:-20px; left:9px;
	font-size:30px;
	font-weight:100;
	z-index:2;
}

body{
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	background-image:url("tuxpi.com.1462429345.jpg");
	background-repeat:no-repeat;
	background-position:140px 0px;
	/*background-size:100% 100%; each of these background sizes has its own uses lol, is there a way to choose between them if theres no universal option?*/
	/*background-size:auto;*/
	background-size:cover;
	opacity:0;
	transition:opacity linear 0.4s;
}

@keyframes clockUpdateD {
	from {position:absolute;top:35px;left:300px;}
	to {position:absolute;top:18px;left:300px;}
}

@keyframes clockUpdateT {
	from {position:absolute;top:35px;left:400px;}
	to {position:absolute;top:18px;left:400px;}
}

#circle_1{ /*change these ugly ass colours*/
	width:30px;
	height:30px;
	border-radius:15px;
	background:#C390D4;
	position:absolute;top:12px;left:150px;
	opacity:0.5;
}
#circle_2{
	width:30px;
	height:30px;
	border-radius:15px;
	background:#817EE0;
	position:absolute;top:12px;left:200px;
	opacity:0.5;
}
#circle_3{
	width:30px;
	height:30px;
	border-radius:15px;
	background:#779EE6;
	position:absolute;top:12px;left:250px;
	opacity:0.5;
}
#blank_space{
	width:100%;
	height:15px;
	background:#fff;
	position:absolute;top:50px;left:0px;
}
#clock_date{
	font-family:Raleway_Thin, sans-serif;
	font-weight:800;
	position:absolute;top:18px;left:300px;
	opacity=1;
	animation-duration:1s;
	transition:opacity linear 0.3s;
}
#clock_newDate{
	font-family:Raleway_Thin, sans-serif;
	font-weight:800;
	position:absolute;top:35px;left:300px;
	opacity=0;
	transition:opacity linear 0.3s;
	animation-duration: 1s;
	/*visibility:hidden;*/
}
#clock_time{
	font-weight:500;
	font-family:Raleway_Light, sans-serif;
	position:absolute;top:18px;left:400px;
	opacity=1;
	animation-duration:1s;
	transition:opacity linear 0.3s;
}
#clock_newTime{
	font-weight:500;
	font-family:Raleway_Light, sans-serif;
	position:absolute;top:35px;left:400px;
	opacity=0;
	transition:opacity linear 0.3s;
	animation-duration: 1s;
	/*visibility:hidden;*/
}
.text{
	margin-left:150px;
	font-family:Raleway, sans-serif;
}
#sidebar{
	position:absolute;left:0px;top:52.5px;bottom:0px;
	width:140px;
	background:linear-gradient(to right, #b3e6ff,transparent);
}
#sidebar_line{
	position:absolute;left:140px;top:0px;bottom:120px;
	width:1.5px;
	background:linear-gradient(black,transparent);
}
#header_line{
	position:absolute;left:0px;top:53px;right:700px;
	height:1.5px;
	background:linear-gradient(to right, black, transparent);	
z-index:1;
}

#place{
	position:absolute;left:492px;top:24px;
	font-family:Raleway_Light, sans-serif;
}
#weather{
	font-family:Raleway_Light, sans-serif;
	position:absolute;left:460px;top:13px;
	font-size:12px;
}
#weatherCondition{
	font-family:Raleway_Thin, sans-serif;
	font-size:16px;
	position:absolute;left:492px;top:10px;
}
/*#weatherNext{
	font-family:Raleway_Light, sans-serif;
}
#weatherConditionNext{
	font-family:Raleway_Light, sans-serif;
}*/
#yahoo_logo{
	position:absolute;left:489px;top:33px;
}
</style>