<style>
a:link {color:rgb(0,0,50); background-color:transparent; text-decoration: none;}
a:visited {color:blue; background-color:transparent; text-decoration: none;}
a:hover {color:rgb(0,50,0); background-color:transparent; text-decoration: none;}
a:active {color:rgb(50,0,0); background-color:transparent; text-decoration: none;}
.main_tabs{
	width:100%;
	display:inline-block;
	background:#ABCDEF;
}
.tabs li{
	margin:0px 5px;
	float:left;
	list-style:none;
}
.tabs a{
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-family:Verdana;
	font-weight:600;
	color:#4c4c4c;
	text-decoration:none;
	transition:all linear 0.4s;
}
li.active a, li.active{
	background:#fff;
	color:#4c4c4c;
}

.tabs a:hover{
	background:#AAAAAA;
}

}
#date{
	font-size:50;
}

</style>